<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <script src="/js/icons.js" defer></script>
    <script src="../js/detail.js" defer></script>
    <title>Details</title>
</head>
<body>
    <div class="container">
        <section class="header__section">
            <header>
                <h1>ENL</h1>
                <article class="header__nav">
                    <nav>
                        <a href="/views/home.html">Home</a>
                    </nav>
                    <a class="a-icon" href="/views/register.html" title="register">
                        <i class="register"></i>
                    </a>
                </article>
            </header>
        </section>
        <main class="form__details">
            <h2 class="title">Details</h2>
            <form class="details"></form>
        </main>
    </div>
</body>
</html>