<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Home</title>
</head>

<body>
    <div class="container">
        <section class="header__section">
            <header>
                <h1>ENL</h1>
                <article class="header__nav">
                    <nav>
                        <a href="/views/index.html" data-toggle="active">Dashboard</a>
                    </nav>
                    <a class="a-icon" title="login">
                        <i class="user" data-toggle="active"></i>
                        <i class="logout" data-toggle="active"></i>
                    </a>
                </article>
            </header>
        </section>
        <main class="home">
            <h2 class="title">Welcome Home</h2>
            <section class="home__content" >
                <article>
                    <h3 class="title">Card 1</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores dolore nostrum, cum quisquam sunt saepe?</p>
                </article>
                <article>
                    <h3 class="title">Card 2</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores dolore nostrum, cum quisquam sunt saepe?</p>
                </article>
                <article>
                    <h3 class="title">Card 3</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores dolore nostrum, cum quisquam sunt saepe?</p>
                </article>
                <article>
                    <h3 class="title">Card 4</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores dolore nostrum, cum quisquam sunt saepe?</p>
                </article>
                <article>
                    <h3 class="title">Card 5</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores dolore nostrum, cum quisquam sunt saepe?</p>
                </article>
                <article>
                    <h3 class="title">Card 6</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores dolore nostrum, cum quisquam sunt saepe?</p>
                </article>
                <article>
                    <h3 class="title">Card 7</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores dolore nostrum, cum quisquam sunt saepe?</p>
                </article>
                <article>
                    <h3 class="title">Card 8</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores dolore nostrum, cum quisquam sunt saepe?</p>
                </article>
            </section>
        </main>
    </div>

    <script src="../js/icons.js"></script>
    <script src="../js/home.js"></script>
</body>
</html>