<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <script src="/js/index.js" defer></script>
    <script src="../js/icons.js" defer></script>
    <title>Home</title>
</head>

<body>
    <div class="container">
        <section class="header__section">
            <header>
                <h1>ENL</h1>
                <article class="header__nav">
                    <nav>
                        <a href="/views/home.html">Home</a>
                    </nav>
                    <a class="a-icon" href="/views/login.html" title="logout">
                        <i class="logout"></i>
                    </a>
                </article>
            </header>
        </section>
        <section class="users">
            <h2 class="title">Users List</h2>
            <article class="userTable">
                <table>
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Phone</th>
                            <th>Email</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </article>
        </section>
    </div>
</body>
</html>